<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Team 8">
    <meta name="description" content="A Kanban board is one of the tools that can be used to implement Kanban to manage work, at the personal or organizational level.">
    <title>Kanban Board System</title>
    {% load static %}

    <!-- jquery -->
    <script src="https://cdn.jsdelivr.net/gh/jqwidgets/jQWidgets@latest/scripts/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script>
    <!-- jquery ui -->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <!--tag-it-->
    <script src="https://cdn.jsdelivr.net/gh/aehlke/tag-it@latest/js/tag-it.js" type="text/javascript" charset="utf-8"></script>
    <!-- jqwidgets -->
    <script src="https://cdn.jsdelivr.net/gh/jqwidgets/jQWidgets@latest/jqwidgets/jqxcore.js" ></script>
    <script src="https://cdn.jsdelivr.net/gh/jqwidgets/jQWidgets@latest/jqwidgets/jqxsortable.js" ></script>
    <script src="https://cdn.jsdelivr.net/gh/jqwidgets/jQWidgets@latest/jqwidgets/jqxkanban.js" ></script>
    <script src="https://cdn.jsdelivr.net/gh/jqwidgets/jQWidgets@latest/jqwidgets/jqxdata.js" ></script>
    <!-- UiKit -->
    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>
    {% block head_script %}
    {# 必要在head載入的Script #}
    {% endblock %}
    <link rel="shortcut icon" type="image/svg+xml" href="{% static 'media/favicon.svg' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'media/favicon.png' %}"/>
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.2/css/uikit.min.css">
    <!--spinner-->
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tobiasahlin/SpinKit@latest/css/spinners/9-cube-grid.css" charset="utf-8">
    <!-- 自定義CSS -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/kb/base.css' %}"/>
    {% block stylesheet %}
    {# 放自己寫CSS的地方 #}
    {% endblock %}
</head>

<body>
<div id="bg-img"></div>

{% block mainbody %}

{% endblock %}

</body>

<!--fontawsome SVG-->
<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>

</html>