<!--start form 建立卡片-->
<div class="uk-modal-header">
    <h4 class="noto uk-modal-title uk-legend">New Card</h4>
</div>
<div class="uk-modal-body">
<form id="create-card-form" action="/board/addTask/" method="POST" name="create" class="uk-grid-small" uk-grid>
    <fieldset class="uk-fieldset">
        {% csrf_token %}
        <div class="uk-inline uk-margin-small uk-width-1-1">
            <span>新增卡片至</span>
            <input id="card-column" class="uk-input" type="text" name="columns" required readonly/>
        </div>
        <div class="uk-inline uk-margin-small uk-width-1-1">
            <span>負責人</span>
            <ul id="owner-input" style="margin-bottom: 0;margin-top: 0;">
            </ul>
        </div>
        <div class="uk-inline uk-margin-small uk-width-1-1">
            <span>任務內容</span>
            <input id="card-content" class="uk-input" type="text" name="content" required/>
        </div>
        <div class="uk-inline uk-margin-small uk-width-1-1">
            <span>顏色</span>
            <select class="uk-select" id="card-color" name="color">
                <option id="kb-card-color-1" value="#556270">#556270</option>
                <option id="kb-card-color-2" value="#4ecdc4">#4ecdc4</option>
                <option id="kb-card-color-3" value="#c7f464">#c7f464</option>
                <option id="kb-card-color-4" value="#ff6b6b">#ff6b6b</option>
                <option id="kb-card-color-5" value="#c44d58">#c44d58</option>
            </select>
        </div>
        <!-- <input id="card-submit" class="uk-button-primary uk-button uk-align-center uk-margin-small noto"
               type="submit" style="font-size: 16px; background: #139c91; color: azure;" value="建立"/> -->
        <div class="uk-inline uk-margin-small uk-width-1-1">
            <button id="card-submit" class="uk-button-primary uk-button uk-margin-small uk-align-center noto uk-modal-close"
            style="font-size: 16px; background: #139c91; color: azure;">建立</button>
        </div>
    </fieldset>

</form>
</div>
<!--end form 建立卡片-->

<script type="text/javascript">
    var projUserID = {{ proj_members|safe }};
    $("#owner-input").tagit({
        fieldName: "owner",
        autocomplete: {delay: 0, minLength: 4, source: projUserID},
        showAutocompleteOnFocus: false,
        singleField: true,
        tagLimit: 1,
        caseSensitive: true,
        allowDuplicates: false,
    });
    $("#owner-input").data("ui-tagit").tagInput.addClass('uk-input');
    $("#owner-input").data("ui-tagit").tagInput.attr('placeholder', '請輸入負責人帳號');
    $("#owner-input").data("ui-tagit").tagInput.attr('required');
    $("#owner-input").data("ui-tagit").tagInput.attr('id', 'card-owner');
    $("#owner-input").data("ui-tagit").tagInput.attr('name', 'owner');
    $("#owner-input").data("ui-tagit").tagInput.attr('type', 'text');
</script>