<!-- start 專案設定頁面 -->
<div>
<form id="settings-form" action="/#" method="POST" name="settings-form" class="uk-grid-small" uk-grid>
    <fieldset class="uk-fieldset" style="width: 100%">
        <div class="uk-margin-small-bottom"><legend class="uk-heading-bullet uk-legend noto">{{ proj_name }} 專案設定</legend></div>

        {% csrf_token %}
        <div class="uk-heading-line uk-margin-small-top uk-text-center"><span class="uk-margin-remove-bottom" style="color: #139c91">一般設定</span></div>
        <div class="uk-inline uk-margin-small uk-width-1-1">
            <span class="noto-light">新增成員</span>
            <ul id="add-member" style="margin-bottom: 0;margin-top: 0;">
                
            </ul>
        </div>
        {% if is_owner  %}
        <div class="uk-heading-line uk-margin-small-top uk-text-center"><span class="uk-margin-remove-bottom" style="color: #139c91">管理員專區</span></div>
        <div class="uk-inline uk-margin-small uk-width-1-1">
            <span class="noto-light">管理成員</span>
            <ul id="mgmt-member" style="margin-bottom: 0;margin-top: 0;">
                {% for member in proj_members %}
                    <li>{{ member }}</li>
                {% endfor %}
            </ul>
        </div>        
        <div class="uk-inline uk-width-1-1">
            <span class="noto-light">刪除此專案</span>
                <div class="noto-light uk-text-small uk-margin-remove">
                    專案一經刪除將無法復原，請注意
                    <button id="delete-project-button" class="uk-button uk-button-small uk-button-default uk-align-right noto"
                    style="font-size: 16px; background:transparent; color: #bb2f16; vertical-align: top" uk-toggle="target: #delete-project-alert" type="delete">
                    Delete this Project
                    </button>
                </div>                        
        </div>
        {% endif %}
        

    </fieldset>
</form>
</div>
<!-- end 專案設定頁面 -->

<!-- start 帳號設定頁面 -->
<div>
<form id="account-settings-form" action="/#" method="POST" name="settings-form" class="uk-grid-small" uk-grid>
    <fieldset class="uk-fieldset" style="width: 100%">
        <div class="uk-margin-small-bottom"><legend class="uk-heading-bullet uk-legend noto">帳號設定</legend></div>

        {% csrf_token %}
        <div class="uk-inline uk-margin-small uk-width-1-1">
            <span id="rename-title" class="noto-light">變更名稱</span><br>
            <input class="uk-input uk-width-2-3" type="text" value="{{name}}" name="newname"/>
            <button id="rename" class="uk-button">更改</button>
        </div>

        <div class="uk-heading-line uk-margin-small-top uk-text-center"><span class="uk-margin-remove-bottom" style="color: #139c91">帳號資訊</span></div>
        <div class="uk-margin-small uk-width-1-1 uk-grid-collapse uk-child-width-1-2 noto-light" uk-grid>
            <div>
                <ul class="uk-list">
                    <li>帳號</li>
                    <li>名稱</li>
                    <li>信箱</li>
                    <li>uid</li>
                </ul>
            </div>
            <div>
                <ul class="uk-list">
                    <li>{{username}}</li>
                    <li id="name">{{name}}</li>
                    <li>{{email}}</li>
                    <li>{{localId}}</li>
                </ul>
            </div>
        </div>        
    </fieldset>
</form>
</div>
<!-- end 帳號設定頁面 -->

<!-- start 刪除按鈕警告 -->
<div id="delete-project-alert" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-body noto-light">
            <p><div class="fas fa-exclamation-traingle fa-2x" style="color: #9c2813; transform: translate(0,5px);"></div> 確定要刪除專案？一經刪除將無法復原！</p>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close">取消</button>
            <button id="delete-project" class="uk-button uk-button-danger">刪除</button>
        </div>
    </div>
</div>
<!-- end 刪除按鈕警告 -->

<script type="text/javascript">
var projUserID = {{ proj_members|safe }};
var allUserID = {{ all_user_id|safe }};
//-------------------------------
// 設定 > 管理成員 JS
//-------------------------------
{% if is_owner %}
$("#mgmt-member").tagit({
    showAutocompleteOnFocus: false,
    singleField: true,
    caseSensitive: true,
    allowDuplicates: false,
    readOnly: true,
    onTagClicked: function(event, ui) {
        $(".member-tooltip").off("click");
        $(".member-tooltip").click(function(){
            mgmtMemberInput(ui.tag.context.firstChild.data);
        }); 
    }
});
$("#mgmt-member").data("ui-tagit").tagInput.addClass('uk-input');
$('#mgmt-member > .tagit-choice').addClass("mgmt-member-option");
$("#mgmt-member > li").append('<div class="member-tooltip uk-inline" style="cursor: pointer;">從專案移除</div>');
// 刪除成員的選項
$('.mgmt-member-option').mousedown(function(){
    var pos = $(this).position();
    $(this).find('.member-tooltip').css('top', (pos.top)+10 + 'px').fadeIn();
    $('.mgmt-member-option').mouseleave(function(){
        $(this).find('.member-tooltip').fadeOut();
    });
});
{% endif %}

//-------------------------------
// 設定 > 新增成員 JS
//-------------------------------
$("#add-member").tagit({
    fieldName: "add-members",
    autocomplete: {delay: 0, minLength: 4, source: allUserID},
    showAutocompleteOnFocus: false,
    singleField: true,
    tagLimit: null,
    caseSensitive: true,
    allowDuplicates: false,
});
$("#add-member").data("ui-tagit").tagInput.addClass('uk-input uk-margin-small-left');
$("#add-member").data("ui-tagit").tagInput.attr('placeholder', '請輸入欲新增的帳號');
$("#add-member").data("ui-tagit").tagInput.attr('required');
$("#add-member").data("ui-tagit").tagInput.attr('id', 'members-to-add');
$("#add-member").data("ui-tagit").tagInput.attr('name', 'members-to-addowner');
$("#add-member").data("ui-tagit").tagInput.attr('type', 'text');
// 新增成員輸入事件
$("#add-member").tagit({
    afterTagAdded: function (event, ui) {
        addMemberInput(ui.tagLabel, "added");
        $("#proj-member-list").append('<li class="tagit-choice ui-widget-content ui-state-default ui-corner-all tagit-choice-read-only"><span class="tagit-label">' + ui.tagLabel + '</span><input type="hidden" value="' + ui.tagLabel + '" name="tags" class="tagit-hidden-field"></li>')
        $("#proj-member-list > .tagit-new").remove();
    },
    afterTagRemoved: function (event, ui) {
        addMemberInput(ui.tagLabel, "removed");
        $("li:contains('" + ui.tagLabel +"')").remove();
        $("#proj-member-list > .tagit-new").remove();
    }
});

//-------------------------------
// 設定 > 刪除專案 X按鈕功能
//-------------------------------
$("#settings-form").submit( function (e) {
    e.preventDefault();
});
$("#delete-project").click( function(){
    $("#page-spinner").fadeIn();
    $("#spinner-bg").fadeIn();
    $.ajax({
        method: "GET",
        url: "/board/deleteProject/",
        success: function(responseText){
            document.write(responseText);
        },
    });
});

// 點擊側邊選單出現spinner
$(".list").click( function(){
    $("#page-spinner").fadeIn();
    $("#spinner-bg").fadeIn();
})
// 阻擋enter鍵送出表單
$(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
});

//-------------------------------
// function
//-------------------------------
// 新增成員 輸入或刪除成員的動作
function addMemberInput(tagLabel, state){
    var htmlClass = new String();
    var htmlText = new String();
    if (allUserID.includes(tagLabel)){
        if (projUserID.includes(tagLabel)){
            htmlClass = "alert";
            htmlText = "已經是本專案成員";
        }
        else if (state == "removed"){
            removeMember(tagLabel);
            htmlClass = "removed-hint";
            htmlText = "已移除";
        }
        else if (state == "added"){
            addMember(tagLabel);
            htmlClass = "added-hint";
            htmlText = "已加入專案";
        }
    }
    else {
        htmlClass = "alert";
        htmlText = "無此用戶";
    }

    html = "<p class='" 
        + htmlClass 
        + " noto-light uk-inline uk-text-small uk-margin-remove uk-margin-left'" 
        + " style='color: #139c91; display: none;'>" 
        + tagLabel + " " + htmlText +"</p>";
    $(html).insertBefore("#add-member").fadeIn();
    setTimeout(function(){
        $("." + htmlClass).fadeOut(function(){$(this).remove();});
    }, 2000)
}

// http post至後端
function addMember(tagLabel){
    $.ajax({
        method: "POST",
        url: "/board/addMember/",
        data: {
            csrfmiddlewaretoken: csrftoken,
            "member-to-add": tagLabel
        }
    });
}
function removeMember(tagLabel){
    $.ajax({
       method: "POST",
       url: "/board/deleteMember/",
       data: {
            csrfmiddlewaretoken: csrftoken,
            "member-to-delete": tagLabel
       }
    });
}

// 管理成員 輸入或刪除成員的動作
function mgmtMemberInput(context){
    if (context != "{{ owner }}"){
        $.ajax({
            method: "POST",
            url: "/board/deleteMember/",
            data: {
                csrfmiddlewaretoken: csrftoken,
                "member-to-delete": context
            },
            success: function(data){
                $("li:contains('" + context +"')").remove();
                html = "<p class='deleted" 
                + " noto-light uk-inline uk-text-small uk-margin-remove uk-margin-left'" 
                + " style='color: #139c91; display: none;'>" 
                + context + " 已踢出專案</p>";
                insertDelAlert(html);
            }
        });
        
    }
    else {
        html = "<p class='deleted" 
        + " noto-light uk-inline uk-text-small uk-margin-remove uk-margin-left'" 
        + " style='color: #c44d58; display: none;'>" 
        + context + " 是管理員，不能移除</p>";
        insertDelAlert(html);
    }


}

function insertDelAlert(html){
    $(html).insertBefore("#mgmt-member").fadeIn();
    setTimeout(function(){
        $(".deleted").fadeOut(function(){$(this).remove();});
    }, 2000)
}

//-------------------------------
// 帳號設定
//-------------------------------
$("#account-settings-form").submit( function(e){
    e.preventDefault();
});
$("#rename").click(function(e){
    newname = $("input[name=newname]").val();
    $.ajax({
        method: "POST",
        url: "/rename/",
        data: {
            csrfmiddlewaretoken:csrftoken,
            "newname": newname
        }  
    }).done(function(data){
        html = "<div class='rename-success" 
            + " noto-light uk-inline uk-text-small uk-margin-remove uk-margin-left'" 
            + " style='color: #139c91; display: none;'>" 
            + "   已變更</div>";
        $(html).insertAfter("#rename-title").fadeIn();
        setTimeout(function(){
            $(".rename-success").fadeOut(function(){$(this).remove();});
        }, 2000)
        $("#name").text(newname);
    });

});
</script>