<!-- start 設定頁面 -->
<form id="settings-form" action="/#" method="POST" name="settings-form" class="uk-grid-small" uk-grid>
    <fieldset class="uk-fieldset" style="width: 100%">
        <div class="uk-margin-small-bottom"><legend class="uk-heading-bullet uk-legend noto">{{ proj_name }} 專案設定</legend></div>

        {% csrf_token %}
        <div class="uk-heading-line uk-margin-small-top uk-text-center"><span class="uk-margin-remove-bottom" style="color: #139c91">一般設定</span></div>
        <div class="uk-inline uk-margin-small uk-width-1-1">
            <span class="noto-light">新增成員</span>
            <ul id="add-member" style="margin-bottom: 0;margin-top: 0;">
            </ul>
        </div>
        {% if is_manager  %}
        <div class="uk-heading-line uk-margin-small-top uk-text-center"><span class="uk-margin-remove-bottom" style="color: #139c91">管理員專區</span></div>
        <div class="uk-inline uk-margin-small uk-width-1-1">
            <span class="noto-light">管理成員</span>
            <ul id="mgmt-member" style="margin-bottom: 0;margin-top: 0;">
                {% for member in proj_members %}
                    <li>{{ member }}</li>
                {% endfor %}
            </ul>
        </div>        
        <div class="uk-heading-line uk-margin-small-top uk-text-center"><span class="uk-margin-remove-bottom" style="color: #9c2813">Danger Zone</span></div>
        <div class="uk-inline uk-margin-small uk-width-1-1" style="background-color: #dfafa7">
            <button id="delete-project-button" class="uk-button uk-button-small uk-button-default uk-align-left noto uk-margin-top "
            style="font-size: 16px; background:rgb(192, 24, 24); color:azure" uk-toggle="target: #delete-project-alert">
            Delete Project
            </button>
        </div>
        {% endif %}
        

    </fieldset>
</form>
<!-- end 設定頁面 -->

<!-- start 刪除按鈕警告 -->
<div id="delete-project-alert" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-body noto-light">
            <p><div class="fas fa-exclamation-traingle fa-2x" style="color: #9c2813; transform: translate(0,5px);"></div> 確定要刪除專案？一經刪除將無法復原！</p>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close">取消</button>
            <button id="delete-project" class="uk-button uk-button-danger">刪除</button>
        </div>
    </div>
</div>
<!-- end 刪除按鈕警告 -->

<script type="text/javascript">
var projUserID = new Array();
$.getJSON("/board/allProjMember/", function(result){
    projUserID = result;

    //-------------------------------
    // 設定 > 管理成員 JS
    //-------------------------------
    $("#mgmt-member").tagit({
        showAutocompleteOnFocus: false,
        singleField: true,
        caseSensitive: true,
        allowDuplicates: false,
        readOnly: true,
        onTagClicked: function(event, ui) {
            console.log(ui.tag.context.firstChild.data);
            // console.log(ui.tag);
            $(".member-tooltip").click(function(){
                $.ajax({
                    method: "POST",
                    url: "/board/deleteMember/",
                    data: {
                        csrfmiddlewaretoken: csrftoken,
                        "member-to-delete": ui.tag.context.firstChild.data
                    },
                    success: function(data){
                        $(this).parent("li").remove();
                    }
                });
            });
        }
    });
    $("#mgmt-member").data("ui-tagit").tagInput.addClass('uk-input');
    $('#mgmt-member > .tagit-choice').addClass("mgmt-member-option");
    $("#mgmt-member > li").append('<div class="member-tooltip uk-inline" style="cursor: pointer;">從專案移除</div>');
    // 刪除成員的選項
    $('.mgmt-member-option').mousedown(function(){
        var pos = $(this).position();
        $(this).find('.member-tooltip').css('top', (pos.top)+10 + 'px').fadeIn();
        $('.mgmt-member-option').mouseleave(function(){
            $(this).find('.member-tooltip').fadeOut();
        });
    })


});

var allUserID = new Array();
$.getJSON("/allUserIdJSON/", function (result){
    allUserID = result;

    //-------------------------------
    // 設定 > 新增成員 JS
    //-------------------------------
    $("#add-member").tagit({
            fieldName: "add-members",
            autocomplete: {delay: 0, minLength: 4, source: allUserID},
            showAutocompleteOnFocus: false,
            singleField: true,
            tagLimit: null,
            caseSensitive: true,
            allowDuplicates: false,
    });
    $("#add-member").data("ui-tagit").tagInput.addClass('uk-input uk-margin-small-left');
    $("#add-member").data("ui-tagit").tagInput.attr('placeholder', '請輸欲新增的帳號');
    $("#add-member").data("ui-tagit").tagInput.attr('required');
    $("#add-member").data("ui-tagit").tagInput.attr('id', 'members-to-add');
    $("#add-member").data("ui-tagit").tagInput.attr('name', 'members-to-addowner');
    $("#add-member").data("ui-tagit").tagInput.attr('type', 'text');
});

//-------------------------------
// 設定 > 刪除專案 按鈕功能
//-------------------------------
$("#settings-form").submit( function (e) {
    e.preventDefault();
});
$("#delete-project").click( function(){
    $("#page-spinner").fadeIn();
    $("#spinner-bg").fadeIn();
    $.ajax({
        method: "GET",
        url: "/board/deleteProject/",
        success: function(responseText){
            document.write(responseText);
        },
    });
});

$(".list").click( function(){
    $("#page-spinner").fadeIn();
    $("#spinner-bg").fadeIn();
})
</script>