<!-- start 專案設定頁面 -->
<div>
<form id="settings-form" action="/#" method="POST" name="settings-form" class="uk-grid-small" uk-grid>
    <fieldset class="uk-fieldset" style="width: 100%">
        <div class="uk-margin-small-bottom"><legend class="uk-heading-bullet uk-legend noto">{{ proj_name }} 專案設定</legend></div>

        {% csrf_token %}
        <div class="uk-heading-line uk-margin-small-top uk-text-center"><span class="uk-margin-remove-bottom" style="color: #139c91">一般設定</span></div>
        <div class="uk-inline uk-margin-small uk-width-1-1">
            <span class="noto-light">新增成員</span>
            <ul id="add-member" style="margin-bottom: 0;margin-top: 0;">
                
            </ul>
        </div>
        {% if is_owner  %}
        <div class="uk-heading-line uk-margin-small-top uk-text-center"><span class="uk-margin-remove-bottom" style="color: #139c91">管理員專區</span></div>
        <div class="uk-inline uk-margin-small uk-width-1-1">
            <span class="noto-light">管理成員</span>
            <ul id="mgmt-member" style="margin-bottom: 0;margin-top: 0;">
                {% for member in proj_members %}
                    <li>{{ member }}</li>
                {% endfor %}
            </ul>
        </div>        
        <div class="uk-inline uk-width-1-1">
            <span class="noto-light">刪除此專案</span>
                <div class="noto-light uk-text-small uk-margin-remove">
                    專案一經刪除將無法復原，請注意
                    <button id="delete-project-button" class="uk-button uk-button-small uk-button-default uk-align-right noto"
                    style="font-size: 16px; background:transparent; color: #bb2f16; vertical-align: top" uk-toggle="target: #delete-project-alert" type="delete">
                    Delete this Project
                    </button>
                </div>                        
        </div>
        {% endif %}
        

    </fieldset>
</form>
</div>
<!-- end 專案設定頁面 -->

<!-- start 帳號設定頁面 -->
<div>
<form id="account-settings-form" action="/#" method="POST" name="settings-form" class="uk-grid-small" uk-grid>
    <fieldset class="uk-fieldset" style="width: 100%">
        <div class="uk-margin-small-bottom"><legend class="uk-heading-bullet uk-legend noto">帳號設定</legend></div>

        {% csrf_token %}
        <div class="uk-inline uk-margin-small uk-width-1-1">
            <span id="rename-title" class="noto-light">變更名稱</span><br>
            <input class="uk-input uk-width-2-3" type="text" value="{{name}}" name="newname"/>
            <button id="rename" class="uk-button">更改</button>
        </div>

        <div class="uk-heading-line uk-margin-small-top uk-text-center"><span class="uk-margin-remove-bottom" style="color: #139c91">帳號資訊</span></div>
        <div class="uk-margin-small uk-width-1-1 uk-grid-collapse uk-child-width-1-2 noto-light" uk-grid>
            <div>
                <ul class="uk-list">
                    <li>帳號</li>
                    <li>名稱</li>
                    <li>信箱</li>
                    <li>uid</li>
                </ul>
            </div>
            <div>
                <ul class="uk-list">
                    <li>{{username}}</li>
                    <li id="name">{{name}}</li>
                    <li>{{email}}</li>
                    <li>{{localId}}</li>
                </ul>
            </div>
        </div>        
    </fieldset>
</form>
</div>
<!-- end 帳號設定頁面 -->

<!-- start 刪除按鈕警告 -->
<div id="delete-project-alert" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-body noto-light">
            <p><div class="fas fa-exclamation-traingle fa-2x" style="color: #9c2813; transform: translate(0,5px);"></div> 確定要刪除專案？一經刪除將無法復原！</p>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close">取消</button>
            <button id="delete-project" class="uk-button uk-button-danger">刪除</button>
        </div>
    </div>
</div>
<!-- end 刪除按鈕警告 -->

<script type="text/javascript">
var projUserID = {{ proj_members|safe }};
var allUserID = {{ all_user_id|safe }};
var True = true;
var False = false;
var is_owner = {{ is_owner|safe }};
</script>
{% load static %}
<script type="text/javascript" src="{% static 'js/kb/settings.js' %}"></script>